<h1>About Us</h1>

<div class="aboutImg">
    <%= image_tag("derekKarate_md.jpg", :alt => "Oops Derek's picture is supposed to be here") %>
</div><p class="aboutParagraph">Derek started training in the martial arts in 1991, since then he has
gone on to use his skills to assist with training units in the 82nd Airborne in unarmed combatives
as part of the F.I.G.H.T.C.U.T program developed by his first instructor Grandmaster David Sgro. These days
he has continued his education at Madison College in Web Software Development and his martial arts training 
started to suffer do to other life obligations.</p>

<div class="aboutImg">
    <%= image_tag("collinFootball_md.jpg", :alt => "Oops Collin's picture is supposed to be here") %>
</div><p class="aboutParagraph">Collin played football for Chippewa-Falls high school and went on to play 
semi-professional football for The Menomonie Thunderhawks. Much like Derek, Collin also has been continuing his
education in the realm of Web Software Development at Madison College.</p>
<p class="aboutParagraph">Both Derek and Collin wanted to find a great way to get back in shape and help others do the same, 
so utilizing the skills they acquired during their time at Madison College, developed DC Fitness Institute.</p>


