<h1>DC Fitness Institute</h1>
<p>Welcome to the DC Fitness Institute, join us and use our unique 
  workout generator to help you become a more fit you! <%= link_to "Click Here", generate_workout_path, :class => "btn btn-primary" %> 
  to generate your first workout.</p>
  <ul id="questions">
    <li>Are you tired of not being sure what workout you should do?</li>
    <li>Not sure of what you should eat to pair with you're workout?</li>
    <li>Would you like to have a simple way to track your workout?</li>
  </ul>
<p>Then you came to the right place, with our fitness tracker and meal pairing 
   we take the stress out of getting fit.</p>
<p>Fitness just got easier</p>