<h1>DC Fitness Institute</h1>
<p>Our site is made to populate random workouts. <%= link_to "Click Here", generate_workout_path %> 
  to generate your first workout.</p>
<p>In addition to populating random workouts (based on the user's input), our website will 
  generate a meal that provides the ideal recovery for their selected workout. This will be 
  a signed-in user option only.</p>
<p>Also for signed-up users, they will get a profile page that tracks all of their workouts
  and meal selections to provide data tracking that they can reference for the future. We would
  also like to provide some analytics to this page where they can see some overall results on a
  per week or per month basis.</p>
