<% provide(:title, 'Edit user') %>
<% provide(:button_text, 'Save Changes') %>
<h1>Update your profile</h1>
<%= link_to "Delete Profile", user_path, method: :delete, class: 'btn btn-primary right' %>
<div class="row">
  <div class="col-md-12">
    <div class="background">
      <%= render 'form' %>
    </div>
  </div>
</div>