<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Create my Account') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-12">
    <div class="background">
      <%= render 'form' %>      
    </div>
  </div>
</div>