<%= @user.name %>, <%= @user.email %><br />
<% if current_user == @user %>
    <%= link_to "Edit Profile", edit_user_path(current_user) %>
    <%= link_to "Delete Profile", user_path, method: :delete %>
<% end %>

<p>Workout Log</p>
<br />

