// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Added padding to the right Sign Up button to avoid collision with browser window */
nav {
    padding-right: 10px;
}

body {
    background: url(afpa-get-started.jpg) no-repeat center center fixed;
    background: url(https://peaceful-meadow-56207.herokuapp.com/afpa-get-started.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

h1 {
  font-size: 5em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: left;
  color: #ffffff;
  width: 50%;
}

p {
  font-size: 2em;
  line-height: 1.7em;
  color: #ffffff;
  width: 50%;
}

#questions {
    font-size: 1.5em;
    line-height: 1.7em;
    color: #ffffff;
    width: 50%;
    font-style: italic;
}

/* unvisited link */
a.btn-primary:link {
    color: #ffffff;
}

/* visited link */
a.btn-primary:visited {
    color: #b541f4;
}

/* mouse over link */
a.btn-primary:hover {
    color: #4286f4;
}

/* selected link */
a.btn-primary:active {
    color: #41f4e5;
}

/* About Page Images */
.aboutImg {
    margin-bottom: 5em;
    float: left;
    clear: both;
}

/* About Page Paragraphs */
.aboutParagraph {
    float: left;
    margin-top: -.5em;
    
}

/* fonts */
@font-face {
  font-family: 'Helvetica';
  font-weight: normal;
  font-style: normal;
}
