// Place all the styles related to the Workout controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

label {
  padding: 7px;
  color: white;
}

.background {
  padding: 10px;
  background-color: black;
  opacity: 0.5;
  width: 50%;
  border-radius: 7px;
}

#password {
  margin-bottom: 4px;
}

#session {
  margin-top: 4px;
}

.workout {
  color: white;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: pink;
}

#slide {
  margin: 5px;
}

.exercise {
  border: 1px solid white;
  padding: 4px;
  margin-top: 6px;
}